---
import { Image } from 'astro:assets';
import rei from '../assets/Rei.png';

const { alt = '蓝灰色线稿风格人物侧面主视觉', position = 'right' } = Astro.props;
---

<figure class:list={['showcase-visual', `showcase-visual--${position}`]}>
	<Image src={rei} alt={alt} widths={[720, 1080, 1600, 1918]} sizes="(max-width: 760px) 100vw, 58vw" />
	<figcaption><span>VISUAL / REI</span><span>PNG · CONTAIN</span></figcaption>
</figure>
